<!--
<div class="row">
  <div class="col-xl-12 col-md-8 col-md-offset-2">
    <h5>{{account.name}}</h5>
    <hr>
    <p>This account is {{account.status}}</p>
    <button class="btn btn-default" (click)="onSetTo('active')">Set to 'active'</button>&nbsp;
    <button class="btn btn-default" (click)="onSetTo('inactive')">Set to 'inactive'</button>&nbsp;
    <button class="btn btn-default" (click)="onSetTo('unknown')">set to 'unknown'</button>
  </div>
</div>

-->
<div class="row">
  <div class="col-md-12 col-md-8 col-md-offset-2"><br>
    <h5>{{ account.name }}</h5>
    <hr>
    <p>This Account is {{ account.status }}</p>
    <button class="btn btn-info" (click)="onSetTo('active')">set to 'active'</button> &nbsp;
    <button class="btn btn-info" (click)="onSetTo('inactive')">set to 'inactive'</button> &nbsp;
    <button class="btn btn-info" (click)="onSetTo('unknown')">set to 'unknown'</button>
  </div>
</div>
